fieldset {border:none; }
table{border-collapse:collapse; }
.h{position:absolute; top:-9999px; opacity:0; }


.content{
	.sub_visual{
        background: url(../img/join_sub_visual.jpg) no-repeat center/cover;
    }

	.join{
		width: 100%;
		//padding: 150px 0;
		//background-color: pink;
	
		.inner{
			width: 1180px;
			margin: 0 auto;
			//background-color: lightblue;
	
			h1{
				font: normal 60px/1 "Montserrat";
				color: #ddd;
				letter-spacing: 1px;
				margin-bottom: 80px;
				text-align: center;
			}
	
			table{
				border-top: 2px solid #ddd;
				border-bottom: 2px solid #ddd;
				margin: 0 auto;
	
				th,
				td{
					border-bottom: 1px solid #666;
					padding: 15px 25px;
				}
	
				th{
					width: 30%;
					font: 16px/1 "Montserrat";
					color: #ddd;
	
					input[type="reset"],
					input[type="submit"]{
						width: 30%;
						height: 50px;
						border: 1px solid #333;
						margin: 10px;
						font: bold 14px/40px "Montserrat";
						color: #555;
						cursor: pointer;
						transition: 0.5s;
	
						&:hover {
							background: #333;
							color: #fff;
							transition: 0.5s;
						}
					}
				}
				td{
					border-left: 1px solid #aaa;
					width: 70%;
					font: 14px/1 "Montserrat";
					color: #ddd;
	
					input[type="text"],
					input[type="password"],

					select{
						width: 60%;
						background-color: transparent;
						padding: 10px;
						border: 1px solid #aaa;
						color: #777;
					}

					input[type="radio"],
					input[type="checkbox"]{
						margin-right: 30px;
					}

					textarea{
						resize: none;
						width: 60%;
						height: 150px;
						background: transparent;
						padding: 10px;
						border: 1px solid #aaa;
					}
	
					//동적으로 생성될 에러 메시지 스타일
					p{
						font: 11px/1 "맑은 고딕";
						color: hotpink;
						margin-top: 5px;
					}
				}
			}
		}
	}
	
}